<div class="container">
  <h1>Data Binding</h1>
  <h2>Strin Interpolation</h2>
  <span>My name is {{firstName}}</span>

  <h2>Property Binding</h2>
  <img [src]="imagepath" alt="">
  <p innerText=""></p>

  <h2>Event Binding</h2>
  <input type="text" (input)="passValueToComponent($event)">

  <h2>Two Way Binding</h2>
  <input type="text" [(ngModel)]="defaultVal"/>

  <h1>Data Binding Exercise</h1>
  <div>
    <input type="text" [(ngModel)] = "formValue" />
  </div>
  <br>
  <div>
    {{formValue}}
  </div>

  <br>
  <div>
    <button [disabled] = 'isBtnDisabled' (click)="checkForm()">Check Form</button> 
  </div>  
 
</div>



